/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap.min.css";

body::-webkit-scrollbar-thumb {
  background: #4456a4;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: #ddd;
}
